.feedback {
  padding-top: 200px;
  &__items {
    display: grid;
    grid-template: repeat(2, minmax(321px, auto)) / repeat(3, 423px);
    grid-auto-rows: minmax(321px, auto);
    gap: 16px;
  }
  &__item {
    padding: 54px 60px 51px 50px;
    background-color: #000;
    border-radius: 32px;
  }
  &__comment {
    margin-top: 15px;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    color: #fff;
  }
  &__name {
    margin-top: 19px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.7);
  }
}
